@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.outfit-resp {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding-top: 70px;
  position: relative;
}

.logo-container {
  display: flex;
  justify-content: space-between;
  /* Logos on left and right */
  align-items: center;
  position: absolute;
  width: 100%;
  top: 25px;
  /* Adjust this based on navbar height */
  left: 0;
  padding: 0 20px;
  /* Adds spacing on both sides */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .logo-container {
    display: flex;
    justify-content: space-between;
    /* Keeps logos at left and right */
    width: 100%;
    padding: 0 10px;
    /* Reduce padding */
    position: relative;
  }

  .top-corner-image,
  .right-corner-image {
    width: 100px;
    /* Smaller size on mobile */
  }
}

/* Logo images */
.top-corner-image,
.right-corner-image {
  width: 130px;
  /* Adjust size as needed */
  height: auto;
  /* Maintain aspect ratio */
}

p {
  text-align: justify;
}

#header {
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  font-weight: bold;
  color: #215dbf;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

.lhead {
  font-weight: normal;
  margin-top: 5px;
}

.litem {
  margin-top: 5px;
}

#footer {
  height: 100px;
  padding-top: 50px;
  text-align: center;
  position: relative;
}

.instructorphoto img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100px;
  margin-bottom: 10px;
}

.logo-left {
  height: 60px;
  float: left;
  margin-left: 50px;
}

.logo-right {
  height: 60px;
  float: right;
  margin-right: 50px;
}

.instructor {
  display: inline-block;
  width: 140px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 5px;
  font-size: 14px;
}

.sec {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sechighlight {
  background-color: #f7f6f1;
}

.tt {
  color: #060;
  display: inline-block;
}

#inputlayer {
  width: 65px;
}

.layer {
  width: 35px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-bottom: 5px;
}

.actmap {
  display: block;
  border: 2px solid #FFF;
}

#convnetvis {
  text-align: center;
}

.pp {
  color: white;
  text-align: left;
  padding: 5px;
  height: 32px;
  margin: 2px;
  background-color: rgb(85, 187, 85);
  overflow: visible !important;
}

#convask {
  position: absolute;
  top: 360px;
  right: 16px;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

#explain {
  display: none;
  background-color: #FF9;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.qq {
  color: #060;
}

.qa {
  font-style: italic;
}

.qqa {
  margin-bottom: 20px;
}

.spanh {
  font-weight: normal;
}

#coursedesc {
  text-align: justify;
}

#classicons {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.bold {
  font-weight: bold;
}

.red {
  color: #FF0000;
}

/* Navbar color / spacing */
.navbar-default {
  background-color: #215dbf;
  border-color: #769ad6;
  text-align: center;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
  font-weight: bold;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #769ad6;
}

.navbar-default .navbar-text {
  color: #769ad6;
}

.navbar-default .navbar-collapse>ul {
  width: 80%;
}

.navbar-default .navbar-collapse>ul>li {
  width: 16%;
}

.navbar-default .navbar-nav>li>a {
  color: #ecf0f1;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #b1d7f1;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #94ccf1;
  background-color: #c0392b;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #fbcbcc;
  background-color: #c0392b;
}

.navbar-default .navbar-toggle {
  border-color: #c0392b;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}

.navbar-default .navbar-link {
  color: #ecf0f1;
}

.navbar-default .navbar-link:hover {
  color: #fbcbcc;
}

/* Handle formatting on mobile */
@media (max-width: 767px) {
  .navbar-default .navbar-collapse>ul>li {
    width: 100%;
    text-align: left;
  }

  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* Make each row look like a card */
  table tr {
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
    box-shadow: 2px 2px 1px #dadada;
  }

  tr {
    border: 1px solid #ccc;
  }

  /* Behave  like a "row" */
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  /* Position table header as data labels */
  td:before {
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /* Label the data */
  #schedule td:nth-of-type(1) {
    font-weight: 500;
  }

  #schedule td:nth-of-type(1):before {
    content: "Date:";
    font-weight: 300;
  }

  #schedule td:nth-of-type(2) {
    font-weight: 500;
  }

  #schedule td:nth-of-type(2):before {
    content: "Description:";
    font-weight: 300;
  }

  #schedule td:nth-of-type(4):before {
    content: "Events:";
  }

  #schedule td:nth-of-type(5):before {
    content: "Deadlines:";
  }
}

#unreleased-message {
  background: #d62728;
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
  text-align: center;
  left: 0;
  min-height: 3em;
  padding: 0.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
}

#unreleased-message+div {
  margin-top: 3em;
}

#unreleased-message a {
  color: #fff;
  text-decoration: underline;
}